<div class="movie-card overflow-hidden w-100 border border-info rounded" (click)="onMovieClick(movie)" (mouseenter)="showMore = true" (mouseleave)="showMore = false">
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmrnN5RTHfoO6ad_T8mBKu8TaKsvzq2i06BA&s"
    alt="movie-img"
    id="{{ movie.id }}"
    class="movie-img rounded img-fluid"
  />
  <div class="d-flex justify-content-center text-start bold">
    <p class="movie-title text-white ">
      <span class="text-truncate">{{ movie.title }}</span>
    </p>
  </div>
  @if(showMore){
  <div class="more-details d-flex justify-content-center">
    <span class="fs-6">{{ movie.original_language.toUpperCase() }} &nbsp;</span>
    <span class="fs-6">{{ movie.release_date.substring(0,4) }} &nbsp;</span>
    <span class="fs-6">{{ movie.adult ? "A 18+" : "U/A 13+" }}</span>
  </div>
  }
</div>
