@if(!movie.id){
<me-app-loader></me-app-loader>
} @if(movie.id){
<div class="movie-detail p-5 pb-2 h-100">
  <div
    class="movie-poster border border-primary bg-danger w-25 align-items-center justify-content-center d-flex"
  >
    <div class="image h-50 w-75 border border-primary bg-success">
      <img [src]="movie.poster_path" class="img-fluid" alt="Movie Poster" />
    </div>
  </div>
  <div class="movie-detail bg-success w-75 d-block p-3">
    <div class="movie-title d-flex justify-content-center w-100 m-2">
      <figure class="text-center">
        <blockquote class="blockquote fs-2">
          <p class="display-4">{{ movie.title }}</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <cite title="tag-line" class="text-primary fs-4">{{
            movie.tagline
          }}</cite>
        </figcaption>
      </figure>
    </div>
    <div class="movie-info p-5 pt-2 pb-2">
      <div class="d-flex align-items-center">
        <span class="fs-6">{{ movie.runtime }} min</span>
        @for (genre of movie.genres; track genre) {
        <span class="fs-6 m-1">{{ genre.name }} | </span>
        }
        <span class="fs-5">{{ movie.adult ? "A 18+ " : "U/A 13+" }}</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="fs-6"><strong>Origin Country : </strong></span>
        <span class="fs-6 m-1">{{ movie.origin_country }} |</span>
        <span class="fs-6"><strong>Original Language : </strong></span>
        <span class="fs-6 m-1">{{ movie.original_language }} | </span>
        <span class="fs-6"><strong>Release Date : </strong></span>
        <span class="fs-6 m-1">{{ movie.release_date }}</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="fs-6"><strong>Languages : </strong></span>
        @for (lang of movie.spoken_languages; track lang) {
        <span class="fs-6 m-1">{{ lang.english_name }} | </span>
        }
      </div>
      <div class="d-flex align-items-center">
        <span class="fs-6"><strong>Budget : </strong></span>
        <span class="fs-6 m-1">{{ movie.budget }} | </span>
        <span class="fs-6"><strong>Revenue : </strong></span>
        <span class="fs-6 m-1">{{ movie.revenue }} | </span>
        <span class="fs-6"><strong>Rating : </strong></span>
        <span class="fs-6 m-1">{{ movie.vote_average }}</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="fs-6"><strong>Production : </strong></span>
        @for(prod of movie.production_companies;track prod){
        <span class="fs-6"> {{ prod.name }} |&nbsp;</span>
        }
      </div>
      <div class="overview text-justify">
        <span class="fs-6"><strong>Overview : </strong></span>
        <span class="fs-6 m-1">{{ movie.overview }}</span>
      </div>
    </div>
    <div class="movie-button d-flex pt-1 pb-1 p-5">
      <div class="col-md-4">
        <button class="btn btn-primary">Watch Now</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" onclick="addToWatchlist()">Add to Watchlist +</button>
      </div>
    </div>
  </div>
</div>
}
